/*
body {
	margin: 20px;
}

body,button,input,select,textarea,p,li,a {
    font-size: 20px;
}
*/

.hr-solid {
    height:1px;
    border:none;
    border-top:1px solid #55e5e5;
}

[role=contentinfo] {
    text-align: center;
}

pre.prettyprint {
  padding: 10px;
  margin-top: 10px;
}
