/** 
* @file newblog.css
* @brief 
* @author yingx
* @date 2016-09-28
*/

.layout-main {
  background: white;
}

.layout-main-bg {
  background: url(img/mainbg.png) no-repeat center 0;
}

.layout-main-header {
  height: 76px;
}

.layout-main-footer {
	color: #888;
	margin: 5px 0 0 0;
	padding: 5px 0;
	font-size: .9em;
}

.layout-main-footer .copyright {
	font-size: 14px;
  line-height: 18px;
	margin: 0 0 0 0;
  padding: 5px 5px 5px 5px;  
	text-align: center;
}

.layout-main-footer .counter {
	color: #888;
	font-size: 16px;
	text-align: center;
}

.layout-main-footer hr {
	border: 0 #ccc solid; 
	border-top-width: 2px; 
	clear: both; 
	height: 0; 
}

.layout-main-content {
    margin: 0;  
    padding: 0;
    border: 0;
    outline: 0;
    width: 100%;
    background: transparent;
    vertical-align: baseline;
    font: inherit;
    font-size: 100%;
    float: left;
    display: block;
}

.site-content {
    margin-bottom: 10px;  
    padding-top: 20px;
    border-top: 2px solid #f29149;
}

.content-aside {
    margin: 0 20px 20px 40px;  
}

.panel-aside {
    margin: 0 20px 20px 20px;  
}

.recent-post {
    margin:10px;
    padding-left: 30px;
    line-height: 20px;
    font-size: 16px;
    list-style-type: circle;
}

.article-list {
    margin: 10px;
}

.article {
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 4px double #ededed;
    word-wrap: break-word;
}

.article-header,.article-footer {
    margin-top: 24px;
    line-height: 18px;
    font-size: 14px;
    color: #757575;
}

.article-title {
    line-height: 30px;
    font-size: 24px;
    font-weight: normal;
}

.comment-link {
    margin-top: 24px;
    line-height: 18px;
    font-size: 14px;
    color: #757575;
}

.article-content {
    margin-top: 24px;
    line-height: 20px;
    font-size: 16px;
}

.article-navigation {
    clear: both;
    overflow: hidden;
    line-height: 20px;
    font-size: 16px;
}

.nav-previous {
    float: left;
}

.nav-next {
    float: right;
}
