<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-header">
    	<span class="pull-left glyphicon glyphicon-menu-hamburger" style="line-height:45px;font-size:22px;margin-left:10px;cursor:pointer" aria-hidden="true" ng-if="!navLock" ng-click="openAside()"></span>
        <a role="button" class="navbar-brand" href="#/home">Bootstrap&Angular Demo</a>        
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collpase">
    	<ul class="nav navbar-nav navbar-right" style="margin-right:15px">
    		<li><a href="#/home" tooltip-placement="bottom" uib-tooltip="设置"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>设置</a></li>
    		<li><a href="#/logout" tootip-placement="bottom" uib-tooltip="退出"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>退出</a></li>
    	</ul>
    </nav>
</nav>
